name: project ci
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: use node.js version 20
        uses: actions/setup-node@v2
        with:
          node-version: "22"
      - run: npm install-client 
      - run: npm install-server 
      - run: npm run deploy
